a:hover {
	text-decoration: none;
}

.nav {
	background: rgba(255, 255, 255, 0.9);
}

.banner img {
	width: 100%;
}


.nav-height {
	position: relative;
	height: 40px;
}

.nav-wrap {
	width: 100%;
	height: 40px;
	background: rgba(255, 255, 255, 0.9);
	border-top: 1px solid #d8cdc6;
	border-bottom: 1px solid #d8cdc6;
}

.nav-wrap.navFix {
	position: fixed;
	top: 68px;
	left: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid #e3e3e3\9;
	z-index: 99999;
}

.nav-wrap ul {
	padding: 0;
	margin: 0 auto;
	display: block;
	width: 100%;
	text-align: center;
}

.nav-wrap.navFix ul {
	border-bottom: 0;
}

.nav-wrap li {

	text-align: left;
	height: 40px;
	line-height: 40px;
	float: left;
	width: 16%;
	text-align: center;
}

#active a {
	color: #ff6801;
	padding-bottom: 5px;
	border-bottom: 2px solid #ff6801;
}


.nav-wrap li a {
	color: #343333;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.nav-wrap li a:hover {
	color: #ff6801;
	padding-bottom: 5px;
	border-bottom: 2px solid #ff6801;
}

.content .col-md-6,
.content .col-md-4,
.content .col-xs-4,
.content .col-sm-6,
.content .col-xs-12 {
	padding-right: 0;
	padding-left: 0;
}

a:hover {
	text-decoration: none;
}

/*content*/
.content {
	padding-bottom: 30px;
}

.content11 {
	text-align: center;
	border-top: 2px solid #bdbdbd;
	margin-top: 40px;
	padding-bottom: 20px;


}

.content11 h2 {
	margin-top: 20px;
	color: #7b7b7b;
}

.content11 p {
	color: #7b7b7b;
	padding-bottom: 10px;
}

.content11 p a {
	color: #7b7b7b;
	padding: 6px 10px 6px 10px;
	border: 1px solid #bdbdbd;
}

.content11 p a:hover {
	background-color: #f9d09a;
	color: gray;
	text-decoration: none;
}

.img {
	float: left;
}

.content121 {
	height: 220px;
	width: 270px;
	float: left;
	background-color: #efefef;
	text-align: center;
	color: #7b7b7b;
}

.content121 h4 {
	padding-top: 40px;
	padding-bottom: 10px;
}

.content121 p {
	padding-bottom: 20px;
}

.content121 p a {
	color: #7b7b7b;
	padding: 6px 10px 6px 10px;
	border: 1px solid #bdbdbd;
}

.content121 p a:hover {
	background-color: #f9d09a;
	color: gray;
	text-decoration: none;
}

.content21 {
	text-align: center;
	border-top: 2px solid #bdbdbd;
	margin-top: 40px;
	padding-bottom: 20px;
	display: block;


}

.content21 h2 {
	margin-top: 20px;
	color: #7b7b7b;
}

.content21 p {
	color: #7b7b7b;
	padding-bottom: 10px;
}

.content21 p a {
	color: #7b7b7b;
	padding: 6px 10px 6px 10px;
	border: 1px solid #bdbdbd;
}

.content21 p a:hover {
	background-color: #f9d09a;
	color: gray;
	text-decoration: none;
}

.linggan {
	text-align: center;
}

.linggan a {
	color: #7b7b7b;

}

.linggan p {
	margin-top: 10px;
}

.linggan img {
	/*padding-right: 30px;*/
	height: 220px;
}

/*家具风格*/
.style1 {
	padding-top: 10px;
	padding-left: 25%;
	padding-bottom: 10%;
}

.style1 li {
	float: left;
	padding-left: 1%;
}

.style1 li a:hover {
	color: #e23f1f;
}

.fengge {
	font-size: 24px;
	color: #e23f1f;
	margin-top: -10px;
}

.style1 li a {
	font-size: 16px;
	color: #7b7b7b;
	margin-left: 20px;
}

/*产品展示detail*/
.detail {
	padding: 4% 0 4% 0;
}

.detail1 {
	float: left;
}

.detail12 {
	float: left;
	padding: 10px 10px 0 0;
}

.detail12 img {
	width: 122px;
	height: 122px;
	border: 1px solid gray;
}

.detail12 img:hover {
	transform: scale(1.15, 1.15);
	border: 1px solid #000;
}

.detail2 {
	padding-left: 50%;
	padding-right: 3%;
}

.dingzhi {
	height: 25px;
	width: 80px;
	text-align: center;
	background-color: #ff3131;
	float: left;
	font-size: 18px;
	color: #fff;
	margin-top: -3px;
	margin-right: 10px;

}

.detail221 {
	font-size: 16px;
	color: #7b7b7b;
	line-height: 25px;
}

.detail122 {
	font-size: 16px;
	color: #ff8f8f;
	line-height: 15px;
	padding-top: 4px;

}

.detail123 {
	font-size: 4px;
	color: #559cfc;
	line-height: 10px;

}

.detail23 {
	width: 500px;
	height: 35px;
	background-color: #ff3131;
	border-radius: 4px;

}

.detail23 p {
	font-size: 16px;
	color: #fff;
	padding-top: 5px;
	padding-left: 10px;

}

.detail24 {
	width: 500px;
	height: 150px;
	background-color: #ececec;
	border-radius: 4px;
}

.detail24 p {
	font-size: 16px;
	color: #7b7b7b;
	padding-top: 5px;
	padding-left: 10px;
	line-height: 20px;

}

.detail241 {
	text-decoration: line-through;
	color: #7b7b7b;
	padding-top: 5px;
	padding-left: 10px;
}

.detail241 span {
	margin-left: 10px;
	color: #7b7b7b;
}

.detail24 h2 {
	color: red;
	margin-left: 15%;
	margin-top: -5px;
}

.detail3 {
	padding-left: 48%;
	padding-right: 3%;
}

.fuwu {
	color: #7b7b7b;
}

.detail3 {
	margin-top: 50px;
}

.detail3 ul li {
	padding-right: 20px;
	color: #000;
	float: left;
	list-style: none;
	font-size: 13px;
	line-height: 25px;
}

.fuwu {
	padding-left: 7%;
	padding-right: 3%;
}

.xiangguantuijian {
	text-align: center;
	padding-bottom: 40px;
}

.xiangguantuijian h3 {
	padding: 0px 0 15px 0;
}

.xiangguantuijian span {
	font-size: 16px;
	color: #7b7b7b;
	margin: 20px 0 10px 0;
}

/*.xiangguantuijian img{
	width:80%;
}*/
/*新闻中心news*/
.news_ingation {
	padding-top: 30px;
	border-bottom: 1px solid #f9d09a;
	display: line-block;
}

.news_ingation li a {
	float: left;
	list-style: none;
	padding-left: 20px;

}

.news_ingation li a {
	font-size: 16px;
	color: #767676;
	line-height: 50px;
}

.news_ingation .active1 a {
	color: #fcc986;
}

.news_ingation li a:hover {
	color: #fcc986;
}

.height {
	padding-top: 30px;

}

.border11 {
	height: 100spx;
	width: 293px;
	border-bottom: 1px solid green;
	border-left: 1px solid green;
	border-right: 1px solid green;
}

.new1 a p {
	width: 280px;
	color: #767676;
	padding: 10px 5px 0px 10px;
	line-height: 25px;
	height: 55px;
	overflow: hidden;
}

.riqi {
	font-size: 24px;
	color: #767676;
	padding-left: 10px;
}

.knowmore {
	padding-top: 50px;
	text-align: center;
	padding-right: 100px;
}

.knowmore li {
	list-style: none;
	float: left;
	width: 30px;
	height: 30px;
	background-color: #e6e6e6;
	margin-right: 15px;
}

.knowmore li a {
	color: #767676;
	font-size: 18px;
}

.knowmore li:hover {
	background-color: #fcc986;
	color: #fff;
}

/*new_index*/
.container {
	box-shadow: 30px 0 30px 10px blue outset;
}

.new_content1 {
	color: #767676;
	font-size: 18px;
	height: 40px;
	text-align: center;
	margin-top: 15px;
}

.new_content1 a {
	color: #767676;
	font-size: 18px;
}

.biaoti {
	text-align: center;
	color: #767676;
	padding: 10px 0 10px 0;
}

.new_img {
	text-align: center;
	padding: 10px 0 10px 0;
}

.news_content {
	padding: 10px 20px 10px 15px;
}

.news_content p {
	color: #767676;
	font-size: 15px;
	line-height: 26px;
	text-indent: 2em;
}

.declare_content {
	padding: 10px 30px 20px 30px;
}

.declare_content p {
	color: #767676;
	font-size: 16px;
	line-height: 28px;
	text-indent: 2em;
}

.new_content2 {
	padding-bottom: 20px;
}

/*北欧风格*/
.style {
	margin-bottom: 50px;
}

.beiou1 {
	float: left;
}

.beiou11 {
	width: 518px;
	height: 180px;
	background-color: #f8ccbf;
	padding: 10px 30px 10px 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.beiou11 span a {
	color: #767676;
	font-size: 18px;
}

.beiou2 {
	width: 50%;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.beiou2 img {
	width: 600px;
	height: 300px;
}

.beiou3 {
	float: left;
	margin-left: 20px;
}

.beiou3 img {
	width: 290px;
	height: 200px;
	/*margin-left: 10px;*/
	margin-top: 20px;
}

/*底部footer*/
.footer {
	padding-top: 20px;
	background-color: #000;
}

.left1 {
	color: #f0f0f0;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 25px;
}

.left2 {
	color: #f7f2ed;
	font-size: 14px;
	line-height: 15px;
}

.footer_center p {
	color: #f0f0f0;
	font-size: 14px;
	line-height: 18px;
}

.right11 li {
	float: left;
	list-style: none;
	padding-left: 15px;
}

.right11 li a img:hover {
	transform: translate(-6px, -7px);
}

.right21 {
	padding-top: 60px;
	text-align: center;
}

.right21 li {
	float: left;
	list-style: none;
	color: #f0f0f0;
	padding: 5px 0 0 5px;
}

.right21 li a {
	border-right: 1px solid #f0f0f0;
	color: #f0f0f0;
	padding-right: 5px;
}

.border a {
	border-style: none;
}